<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
 	<context:component-scan base-package="com.ecosystem" />
 	<mvc:annotation-driven/>
 	
 	<tx:annotation-driven />
 	
 	<bean class="com.ecosystem.utils.VCAPServices" id="vcapServices">
            <constructor-arg value="#{systemEnvironment['VCAP_SERVICES']}"/>
    </bean>
 	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	     <property name="driverClassName" value="org.postgresql.Driver"/>
	     <property name="url" value="#{ @vcapServices.get('PostgreSQL by Compose-v5', 'host')}"/>
         <property name="username" value="#{ @vcapServices.get('PostgreSQL by Compose-v5', 'username') }"/>
         <property name="password" value="#{ @vcapServices.get('PostgreSQL by Compose-v5', 'password') }"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
	    </property>
	    <property name="jpaProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
	            <prop key="hibernate.show_sql">true</prop>
	            <!-- change this to 'verify' before running as a production app -->
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	            <prop key="hibernate.jdbc.batch_size">5</prop>
	            
	        </props>
	    </property>
	</bean>
	
    <!-- also add the following beans to get rid of some exceptions -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
		
		
	<bean id="sendGrid" class="com.sendgrid.SendGrid">
		<constructor-arg value="#{@vcapServices.get('SendGrid', 'username')}"/>
		<constructor-arg value="#{@vcapServices.get('SendGrid', 'password')}"/>
	</bean>
		
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>
	</bean>
</beans>