<html>
	<head>
		<title>Ecosystem Map</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://www.ecosystemmap.co/resources/foundation-5.5.3/css/foundation.min.css">
		<link rel="stylesheet" href="http://www.ecosystemmap.co/resources/ecosystem/css/main.css">
	</head>
	<body>
		<header class="header">
			<div class="row">
				<div class="large-offset-3 large-6 columns">
				      <h1><a href="http://www.ecosystemmap.co/"> <img alt="" src="http://www.ecosystemmap.co/resources/ecosystem/img/logo.png"> Ecosystem Map</a></h1>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="large-offset-3 large-6 columns">
				<div class="card">
					<h3>Email Confirmation</h3>
					<p>Please confirm your email address and agree to our Terms of Service. By clicking on the following link, you are agreeing to EcosystemMap's <a href="http://www.ecosystemmap.co/terms">Terms of Service</a>.</p>				
					<a href="#" class="button success">Confirm your Email Address</a>
				</div>
			</div>

		</div>
		<footer class="footer">
		  <div class="row">
		    <div class="small-12 medium-12 medium-pull-12 columns">
		      <p class="footer-links">
		        <a href="http://www.ecosystemmap.co/">Home</a>
		        <a href="http://www.ecosystemmap.co/about">About</a>
		        <a href="http://www.ecosystemmap.co/faq">Faq</a>
		        <a href="http://www.ecosystemmap.co/contact">Contact</a>
		        <a href="http://www.ecosystemmap.co/terms">Terms</a>
		      </p>
		    </div>
		    <div class="small-12 medium-12 medium-pull-12 columns">
		    	<p class="copyright"><a href="http://cristiancolorado.com">Cristian Colorado</a> &copy; 2015</p>
		    </div>
		  </div>
		</footer>
		<style type="text/css">
			.header {
				background: #333 none repeat scroll 0% 0%;
			}

			.header h1  a {
				color: #FFF;
			}

			.header h1 img {
				width: 10%;
			}
			.card {
				border: 1px solid #D3D3D3;
				padding: 25px;
				text-align: center;
				background-color: #FFF;
				margin: 25px 0px;
			}
		</style>
	</body>
</html>